/* Styles pour la bannière promotionnelle */
.promo-banner {
    background-color: #ff0000;
    color: #fff;
    padding: 1px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .promo-banner__text {
    white-space: nowrap;
    font-size: 1.2rem;
  }
  
  .timer-important {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffd700;
  }
  